body {
    background-color: rgb(228, 225, 245);
}
.titulo {
    color: rgb(77, 124, 228);
    display: flex;
    justify-content: center;
}
.input {
   top: 50px;
} 
.botao{
    top: 100px;
    
}
.link {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    text-decoration: none;
}
    
